@import "tailwindcss";

@theme {
  /* Colors */
  --color-darkblue: hsl(217, 28%, 15%);
  --color-darkblue1: hsl(218, 28%, 13%);
  --color-darkblue2: hsl(216, 53%, 9%);
  --color-darkblue3: hsl(219, 30%, 18%);
  --color-accentcyan: hsl(176, 68%, 64%);
  --color-accentblue: hsl(198, 60%, 50%);
  --color-lightred: hsl(0, 100%, 63%);

  /* Fonts */
  --font-sans: "Raleway", sans-serif;
  --font-opensans: "Open Sans", sans-serif;

  --background-image-logo-dark-mode: url("../images/logo-dark-mode.svg");
  --background-image-logo-light-mode: url("../images/logo-light-mode.svg");
  --background-image-curvy-dark-mode: url("../images/bg-curvy-dark-mode.svg");
  --background-image-curvy-light-mode: url("../images/bg-curvy-light-mode.svg");

  /* Breakpoints */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}

/* Dark mode variant */
@variant dark (&:where(.dark, .dark *));

/* variants:{
  extend:
  backgroundImage:["dark"]
} */

/* Button cursor fix */
@layer base {
  button {
    @apply cursor-pointer;
  }
}

.ficon:hover {
  filter: invert(80%) sepia(37%) saturate(7048%) hue-rotate(132deg)
    brightness(105%) contrast(104%);
}
